<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <% if no_content(@user) %>
          <%= @user.name %> has not submitted any posts yet.
        <% else %>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<%= render @user.posts %>

<h2>Comments</h2>
<%= render @user.comments %>

<h2>Favorited Posts</h2>
  <div class="row">
    <div class="col-md-8">
    <% posts = Post.all %>
    <% posts.each do |post| %>
      <% if current_user.favorite_for(post) %>
        <% author = post.user %>
        <% author_avatar_url = author.avatar_url(36) %>
        <% if author_avatar_url %>
          <div class="media-left">
            <%= image_tag author_avatar_url, class: 'media-object' %>
          </div>
        <% end %>
        <div class="media-right">
        <%= render partial: 'votes/voting', locals: { post: post } %>
        <%= render partial: 'posts/post', locals: { post: post } %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
